NODE_ENV=development

PORT=3000

POSTGRES_DB=employee_platform
POSTGRES_USER=employee_app
POSTGRES_PASSWORD=CHANGE_ME

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=employee_platform
DATABASE_USER=employee_app
DATABASE_PASSWORD=CHANGE_ME

REDIS_HOST=redis
REDIS_PORT=6379

LOCALSTACK_ENDPOINT=http://localstack:4566
AWS_DEFAULT_REGION=ap-south-1

JWT_SECRET=CHANGE_ME

# LocalStack
LOCALSTACK_AUTH_TOKEN=CHANGE_ME
