NODE_ENV=development

PORT=3000

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=employee_platform
DATABASE_USER=employee_app
DATABASE_PASSWORD=CHANGE_ME

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=CHANGE_ME